<<<<<<< HEAD
.App-footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

=======
:root {
    --holberton-red: #e1484c;
}

.App-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.App-footer p {
    text-align: center;
    border-top: 3px solid var(--holberton-red);
    padding: 16px 0;
}
>>>>>>> 9df65442affb375a2f010c84da93423049944638
