<<<<<<< HEAD
.Notifications {
    padding: 30px;
    border: 1px solid red;
    border-style: dashed;
}

ul li[data-priority="default"] {
    color: blue;
}

ul li[data-priority="urgent"] {
    color: red;
}
=======
.menuItem {
    position: absolute;
    top: 7px;
    right: 7px;
}

.Notifications {
	border: 3px dotted var(--holberton-red);
	padding: 6px 12px;
    position: absolute;
    top: 21px;
    right: 7px;
	margin-top: 12px;
}

li[data-priority="default"] {
	color: blue;
}

li[data-priority="urgent"] {
	color: var(--holberton-red);
}

li[data-notification-type="default"] {
	color: blue;
}

li[data-notification-type="urgent"] {
	color: var(--holberton-red);
}
>>>>>>> 9df65442affb375a2f010c84da93423049944638
