<<<<<<< HEAD
.App-header {
  color: red;
  display: flex;
  justify-content: flex-start;
}

.App-header h1 {
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.9em;
  font-weight: bold;
}

.App-header img {
  width: 200px;
}

.App-body {
  height: 550px;
  padding-top: 50px;
  padding-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.App-footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.linea {
  background-color: red;
  height: 5px;
=======
:root {
    --holberton-red: #e1484c;
}

.App-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.App-footer p {
    text-align: center;
    border-top: 3px solid var(--holberton-red);
    padding: 16px 0;
>>>>>>> 9df65442affb375a2f010c84da93423049944638
}
